name: Lint and Test

# Controls when the action will run.
on:
  push:
    branches:
      - '**'
    tags:
      - 'v**'
  pull_request:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  lint:
    name: Lint and Type check
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '24'
          cache: 'yarn'

      - name: Enable Corepack
        run: corepack enable

      - name: Cache node_modules
        uses: actions/cache@v5
        with:
          path: |
            .yarn/cache
            .yarn/install-state.gz
            **/node_modules
          key: ${{ runner.os }}-18-modules-${{ hashFiles('**/yarn.lock') }}

      - name: Prepare Environment
        run: yarn install --immutable
        env:
          CI: true
      - name: Type check
        run: yarn build
        env:
          CI: true
      - name: Lint
        run: |
          yarn lint
        env:
          CI: true

  test:
    name: Test on node ${{ matrix.node_version }} and ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        node_version: ['24']
        os: [ubuntu-latest, windows-latest] # [windows-latest, macOS-latest]
    timeout-minutes: 15
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Use Node.js ${{ matrix.node_version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node_version }}
          cache: 'yarn'

      - name: Cache node_modules
        uses: actions/cache@v5
        with:
          path: |
            .yarn/cache
            .yarn/install-state.gz
            **/node_modules
          key: ${{ runner.os }}-${{ matrix.node_version }}-modules-${{ hashFiles('**/yarn.lock') }}

      - name: Cache ffmpeg binaries
        uses: actions/cache@v5
        with:
          path: '.ffmpeg'
          key: ${{ runner.os }}-ffmpeg-${{ hashFiles('**/ffmpegReleases.json') }}

      - name: Enable Corepack
        run: corepack enable

      - name: Prepare Environment
        run: |
          yarn install --immutable
          yarn build
        env:
          CI: true
      - name: Run unit tests
        run: |
          yarn test:ci
        env:
          CI: true
